body{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
}

form{
    background-color: white;
    height: 90%; 
    width: 40%;
    border-radius: 6px;
}

